<section class="content-header">
  <h2>ユーザー更新</h2>
</section>

<section class="content">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :horizontal_form, html: { method: :put, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, label: 'メールアドレス',
      input_wrapper_html: { class: 'col-sm-6' },
      required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

  <%= f.input :password, label: 'パスワード',
      input_wrapper_html: { class: 'col-sm-6' },
      autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
  <%= f.input :password_confirmation, label: 'パスワード確認',
      input_wrapper_html: { class: 'col-sm-6' },
      required: false %>
  <%= f.input :current_password, label: '現在のパスワード',
      input_wrapper_html: { class: 'col-sm-6' },
      hint: "we need your current password to confirm your changes", required: true %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <%= f.submit '更新', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
-->
</section>
