<%= paginate @media_users %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-sm-1">ID</th>
      <th class="col-sm-1">端末種別</th>
      <th class="col-sm-2">端末情報</th>
      <th class="col-sm-1">
        総獲得ポイント<br>
        <small class="text-muted">※過去に獲得した総ポイント数</small>
      </th>
      <th class="col-sm-1">状態</th>
      <th class="col-sm-2">登録日時</th>
      <th class="col-sm-2">最終アクセス日時</th>
      <th class="col-sm-2 text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_users.each do |media_user| %>
    <tr>
      <td>
        <%= link_to media_user.id, media_user, class: 'btn btn-default btn-xs' %>
      </td>
      <td>
        <span class="label label-success">Android</span>
      </td>
      <td>
        <%= media_user.brand %><br>
        <%= media_user.model %><br>
        <% if not media_user.version.nil? %>
          Android <%= media_user.version %></td>
        <% end %>
      <td class="text-right"><%= number_with_delimiter(media_user.total_point) %></td>
      <td class="text-center">
        <% if media_user.available %>
        <span class="label label-success">有効</span>
        <% else %>
        <span class="label label-danger">無効</span>
        <% end %>
      </td>
      <td><%= media_user.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td>
        <% if not media_user.media_user_update.nil? %>
        <%= media_user.media_user_update.last_access_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %>
        <% end %>
      </td>
      <td class="text-center">
        <div class="btn-group">
          <%= link_to media_user, class: 'btn btn-default' do %>
            <i class="fa fa-book"></i>
          <% end %>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li>
                <%= link_to({ :controller => 'media_users', :action => 'notify', :id => media_user.id }, method: 'post') do %>
                  通知テスト
                <% end %>
            </ul>
          </div><!-- /.btn-group -->
        </div><!-- /.btn-group -->
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @media_users %>
