<div class="col-md-6">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">端末情報</h3>
    </div>
    <div class="box-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-4 control-label">端末 ID</label>
          <div class="col-md-8">
            <div class="form-control"><%= @terminal_android.identifier %></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">端末情報</label>
          <div class="col-md-8">
            <textarea rows="10" readonly class="form-control"><%= @terminal_android.info %></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Android バージョン</label>
          <div class="col-md-8">
            <div class="form-control"><%= @terminal_android.android_version %></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Android 登録 ID</label>
          <div class="col-md-8">
            <textarea rows="2" readonly class="form-control"><%= @terminal_android.android_registration_id %></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">登録日時</label>
          <div class="col-md-8">
            <div class="form-control"><%= l @terminal_android.created_at, :format => :default %></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">更新日時</label>
          <div class="col-md-8">
            <div class="form-control"><%= l @terminal_android.updated_at, :format => :default %></div>
          </div>
        </div>
        <!--
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <div class="input-group">
              <input class="form-control" type="text">
              <div class="input-group-btn">
                <button type="button" class="btn btn-danger">通知</button>
              </div>
            </div>
          </div>
        </div>
        -->
      </form>
    </div>
  </div>
</div><!-- /.col-md-6 -->
