<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @offer.campaign %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @offer.medium %>
</p>

<p>
  <strong>Campaign category:</strong>
  <%= @offer.campaign_category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @offer.detail %>
</p>

<p>
  <strong>Icon url:</strong>
  <%= @offer.icon_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @offer.url %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @offer.requirement %>
</p>

<p>
  <strong>Requirement detail:</strong>
  <%= @offer.requirement_detail %>
</p>

<p>
  <strong>Period:</strong>
  <%= @offer.period %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @offer.payment %>
</p>

<p>
  <strong>Point:</strong>
  <%= @offer.point %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
