<section class="content-header">
  <h2>商品一覧</h2>
</section>

<section class="content">
  <div class="box box-default">

  <div class="box-body">

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-1">ID</th>
        <th class="col-md-6">名称</th>
        <th class="col-md-1">ポイント</th>
        <th class="col-md-1">在庫</th>
        <th class="col-md-1">状態</th>
        <th class="col-md-2 text-center"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td class="text-center">
          <%= link_to item.id, item, class: 'btn btn-default btn-xs' %>
        </td>
        <td><%= item.name %></td>
        <td class="text-right"><%= item.point %></td>
        <td class="text-right"><%= item.gifts_count %></td>
        <td class="text-center">
          <% if item.available %>
          <span class="label label-success">有効</span>
          <% else %>
          <span class="label label-default">無効</span>
          <% end %>
        </td>

        <td class="text-center">
          <div class="btn-group">
            <%= link_to edit_item_path(item), class: 'btn btn-default' do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to '詳細', item %></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4"></td>
        <td class="text-center">
          <%= link_to '新規登録', new_item_path, :class => 'btn btn-default' %>
        </td>
      </trd>
    </tfoot>
  </table>

    </div><!-- /.box-body -->
  </div><!-- /.box -->

</section>

