<section class="content-header">
  <h2>メディア一覧</h2>
</section>

<section class="content">
  <p>しばらくは 1 つ固定で。複数運用できる仕組みだけ入れておく。</p>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-sm-1">ID</th>
        <th class="col-sm-3">名前</th>
        <th class="col-sm-3">メディアキー</th>
        <th class="col-sm-1">状態</th>
        <th class="col-sm-2">登録日時</th>
        <th class="col-sm-2 text-center"></th>
      </tr>
    </thead>

    <tbody>
      <% @media.each do |medium| %>
      <tr>
        <td><%= medium.id %></td>
        <td><%= medium.name %></td>
        <td><%= medium.key %></td>
        <td class="text-center"><span class="label label-success">有効</span></td>
        <td><%= medium.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %></td>

        <td class="text-center">
          <div class="btn-group">
            <%= link_to edit_medium_path(medium), class: 'btn btn-default' do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">レポート</a></li>
                <li>
                  <%= link_to medium, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    削除
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <% end %>

      <tr>
        <td colspan="5"></td>
        <td class="text-center">
          <%= link_to '新規登録', new_medium_path, :class => 'btn btn-default' %>
        </td>
      </tr>
    </tbody>
  </table>
</section>

