<%= simple_form_for @campaign, wrapper: :horizontal_form, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @campaign.errors.any? or @advertisement.errors.any? %>
    <div id="error_modal" class="modal fade" tabindex="-1" role="dialog" data-show="true">
      <div class="modal-dialog">
          <div class="box box-solid box-danger">
            <div class="box-header">
              <h3 class="box-title">
                <%= pluralize(@campaign.errors.count + @advertisement.errors.count, "error") %> prohibited this campaign from being saved:
              </h3>
              <div class="box-tools pull-right">
                <button type="button" class="close" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <ul>
                <% @campaign.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
                <% @advertisement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </div>
    </div>

    <script>
      // http://stackoverflow.com/questions/18855331/bootstrap-3-data-show-not-working
      $(function() {
        $('#error_modal').modal('show');
      })
    </script>
  <% end %>

  <%= f.association :network, label: 'ネットワーク', input_wrapper_html: { class: 'col-sm-3' } %>

  <%= f.association :campaign_category, label: 'カテゴリー', input_wrapper_html: { class: 'col-sm-3' } %>
  <%= f.input :name, label: 'キャンペーン名',
      input_wrapper_html: { class: 'col-sm-8' } %>
  <%= f.input :detail, label: '詳細',
      input_wrapper_html: { class: 'col-sm-8' } %>
  <%= f.input :icon_url, label: 'アイコン',
      input_wrapper_html: { class: 'col-sm-8' } %>
  <%= f.input :url, label: 'URL',
      input_wrapper_html: { class: 'col-sm-8' } %>

  <%= f.input :requirement, label: '成果条件',
      input_wrapper_html: { class: 'col-sm-8' } %>
  <%= f.input :requirement_detail, label: '成果条件詳細',
      input_wrapper_html: { class: 'col-sm-8' } %>
  <%= f.input :period, label: '反映時期',
      input_wrapper_html: { class: 'col-sm-8' } %>

  <%= f.simple_fields_for @advertisement do |a| %>
  <%= a.input :price, label: '利用料金',
      input_wrapper_html: { class: 'col-sm-2' } %>
  <%= a.input :payment, label: '報酬金額',
      input_wrapper_html: { class: 'col-sm-2' } %>
  <%= a.input :point, label: 'ポイント', hint: '将来的には空白でデフォルト還元率 (未実装)',
      input_wrapper_html: { class: 'col-sm-2' } %>
  <% end %>

  <%= f.association :media, as: :check_boxes, label: '配信メディア', wrapper: :horizontal_radio_and_checkboxes, input_wrapper_html: { class: 'col-sm-4' }  %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <%= f.submit '登録', class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <a href="http://masterpeace21.com/iTunes2.php" target="_blank">AppStore アイコン取得</a>
    </div>
  </div>
<% end %>
