<%= paginate @campaigns %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th class="col-xs-2 col-md-1">ネットワーク</th>
      <th class="col-md-1">アイコン</th>
      <th class="col-xs-3 col-md-2">名称</th>
      <th class="col-md-1">ポイント</th>
      <th class="col-md-1">成果数</th>
      <th class="col-md-1">状態</th>
      <th class="col-md-2">登録日時</th>
      <th class="col-md-2 text-center">
        <%= link_to '新規登録', new_campaign_path, :class => 'btn btn-primary' %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= campaign.id %></td>
      <td>
        <%= campaign.campaign_source.name %>
      </td>
      <td><%= image_tag campaign.icon_url, :size => '57x57' %></td>
      <td><%= campaign.name %></td>
      <td>
        <% point = campaign.point %>
        <% if point.nil? %>
          (デフォルト)
        <% else %>
          <%= point %>
        <% end %>
      </td>
      <td><%= campaign.achievements.count %></td>
      </td>
      <td class="text-center">
        <% if campaign.available %>
        <span class="label label-success">有効</span>
        <% else %>
        <span class="label label-default">無効</span>
        <% end %>
      </td>
      <td><%= campaign.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td class="text-center">
        <div class="btn-group">
          <%= link_to edit_campaign_path(campaign), class: 'btn btn-default' do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li><a href="#">レポート</a></li>
              <li>
                <%= link_to campaign, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  削除
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @campaigns %>
