<section class="content-header">
  <h2>キャンペーン一覧</h2>
</section>

<section class="content">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-sm-1">アイコン</th>
        <th class="col-sm-4">名称</th>
        <th class="col-sm-5">詳細</th>
        <th class="col-sm-2"></th>
      </tr>
    </thead>

    <tbody>
      <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= image_tag campaign.icon_url, :size => '57x57' %></td>
        <td><%= campaign.name %></td>
        <td><%= campaign.detail %></td>
        <td><%= link_to '', edit_campaign_path(campaign),
                class: 'btn btn-default glyphicon glyphicon-pencil' %>
            <%= link_to '', campaign, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-default glyphicon glyphicon-trash' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to '新規登録', new_campaign_path, :class => 'btn btn-primary' %>

</section>

