<section class="content-header">
  <h2>GREE キャンペーン詳細</h2>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <%= link_to 'キャンペーン登録', new_campaign_path({ gree_campaign_id: @gree_campaign.id }), :class => 'btn btn-primary' %>
        </div>
        <div class="box-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">ID</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.id %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">site_price</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.site_price %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">icon_url</label>
              <div class="col-md-8">
                <%= image_tag @gree_campaign.icon_url, :size => '57x57' %><br><br>
                <div class="form-control"><%= @gree_campaign.icon_url %></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">thanks_count</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.thanks_count %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">thanks_media_revenue</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.thanks_media_revenue %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">thanks_thanks_name</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.thanks_thanks_name %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">thanks_thanks_point</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.thanks_thanks_point %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">thanks_thanks_category</label>
              <div class="col-md-8">
                <%= label_thanks_category @gree_campaign.thanks_thanks_category %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">thanks_thanks_period</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.thanks_thanks_period %></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">campaign_id</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.campaign_identifier %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">subscription_duration</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.subscription_duration %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">carrier</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.carrier %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">start_time</label>
              <div class="col-md-8">
                <div class="form-control">
                  <% if not @gree_campaign.start_time.nil? %>
                  <%= l @gree_campaign.start_time, :format => :default %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">end_time</label>
              <div class="col-md-8">
                <div class="form-control">
                  <% if not @gree_campaign.end_time.nil? %>
                  <%= l @gree_campaign.end_time, :format => :default %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">is_url_scheme</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.is_url_scheme %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">site_price_currency</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.site_price_currency %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">site_description</label>
              <div class="col-md-8">
                <textarea rows="5" readonly class="form-control"><%= @gree_campaign.site_description %></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">site_name</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.site_name %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">campaign_category</label>
              <div class="col-md-8">
                <%= label_campaign_category @gree_campaign.campaign_category %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">market_app_id</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.market_app_id %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">click_url</label>
              <div class="col-md-8">
                <textarea rows="3" readonly class="form-control"><%= @gree_campaign.click_url %></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">default_thanks_name</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.default_thanks_name %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">number_of_max_action_daily</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.number_of_max_action_daily %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">daily_action_left_in_stock</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.daily_action_left_in_stock %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">number_of_max_action</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.number_of_max_action %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">draft</label>
              <div class="col-md-8">
                <textarea rows="5" readonly class="form-control"><%= @gree_campaign.draft %></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">platform_id</label>
              <div class="col-md-8">
                <%= label_platform_identifier @gree_campaign.platform_identifier %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">duplication_type</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.duplication_type %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">duplication_date</label>
              <div class="col-md-8">
                <div class="form-control"><%= @gree_campaign.duplication_date %></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">ステータス</label>
              <div class="col-md-8">
                  <% if @gree_campaign.available %>
                  <span class="label label-success">有効</span>
                  <% else %>
                  <span class="label label-default">無効</span>
                  <% end %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">登録日時</label>
              <div class="col-md-8">
                <div class="form-control"><%= l @gree_campaign.created_at, :format => :default %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">更新日時</label>
              <div class="col-md-8">
                <div class="form-control"><%= l @gree_campaign.updated_at, :format => :default %></div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /.box -->

    </div><!-- /.col-md-12 -->

  </div><!-- /.row -->
</section>
