<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial=scale=1" name="viewport">

  <title>リワードシステム管理画面</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Font Awesome Icons -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Ionicons -->
  <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<% if admin_user_signed_in? %>
<body role="document" class="skin-blue">
<% else %>
<body role="document" class="skin-blue sidebar-collapse">
<% end %>
  <div class="wrapper">
    <header class="main-header">
      <a href="/" class="logo">管理画面</a>
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <% if admin_user_signed_in? %>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span><%= current_admin_user.email %></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-body">
                    <div class="col-xs-6">
                      <%= link_to 'ユーザー更新', edit_admin_user_registration_path, :class => 'btn btn-default btn-flat' %>
                    </div>
                    <div class="col-xs-6">
                      <%= link_to 'ログアウト', destroy_admin_user_session_path, method: :delete, :class => 'btn btn-default btn-flat' %>
                    </div>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'ユーザー登録', new_admin_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_admin_user_session_path %></li>
            <% end %>
          </ul>
        </div>
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">案件一覧</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </nav>
    </header>
    <% if admin_user_signed_in? %>
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <li class="header">メニュー</li>
          <li><a href="/media_users"><i class="fa fa-circle-o text-info"></i>ユーザー</a></li>
          <li><a href="/campaigns"><i class="fa fa-circle-o text-info"></i>キャンペーン</a></li>
          <li><a href="#"><i class="fa fa-circle-o text-info"></i>メディア</a></li>
          <li><a href="#"><i class="fa fa-circle-o text-warning"></i>レポート</a></li>
          <li><a href="#"><i class="fa fa-circle-o text-danger"></i>設定</a></li>
          <li><a href="/"><i class="fa fa-circle-o text-danger"></i>開発用</a></li>
        </ul>
      </section>
    </aside>
    <% end %>

    <div class="content-wrapper">

      <% if notice or alert %>
      <div class="content-header row">
        <div class="col-md-10">

      <% if notice %>
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Notice</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <p><%= notice %></p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
      <% end %>

      <% if alert %>
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Alert</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <p><%= alert %></p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
      <% end %>

        </div>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </div><!-- /.wrapper -->
</body>
</html>
